/* Makeshift Columns */

td,
th {
  padding: 0;
  vertical-align: top;
}

table td,
table th {
  padding: 0;
  border: 0;
}

table {
  border-collapse: separate;
}

/* Remove Excess Margin Top */

body {
  margin: auto;
}
